<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- Defines Hibernate properties and declares Data Object mappings -->
<hibernate-configuration>
	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/bank
		</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">root</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect
		</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">validate</property>

		<!-- One session per thread of execution -->
		<property name="current_session_context_class">thread</property>

		<!-- Mappings -->
		<mapping class="cpslab.bank.api.entities.BaseDataObject"></mapping>
		<mapping class="cpslab.bank.api.entities.Customer"></mapping>
		<mapping class="cpslab.bank.api.entities.Account"></mapping>
		<mapping class="cpslab.bank.api.entities.Loan"></mapping>
		<mapping class="cpslab.bank.api.entities.Branch"></mapping>

	</session-factory>
</hibernate-configuration>