<div class="container">
  <div class="page-header">
    <ul class="list-inline">
      <li>
        <h1>Account List</h1></li>
      <li>
        <button class="btn btn-success" ng-click="createAccount()">New Account</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <table class="table table-striped" ng-controller="OrderCtrl" ng-init="init('accountNumber')">
        <thead>
          <tr>
            <th ng-click="order('accountNumber')">
              Account Number
              <span class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                ng-show="isOrdered('accountNumber')"></span>
            </th>
            <th ng-click="order('balance')">
              Balance
              <span class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                ng-show="isOrdered('balance')"></span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="account in accounts | orderBy:predicate:reverse">
            <td>{{account.accountNumber}}</td>
            <td>{{account.balance | currency}}</td>
            <td>
              <button class="btn btn-info btn-xs" ng-click="details(account.id)" title="Details"><i class="glyphicon glyphicon-plus-sign"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>