<div class="container">
  <div class="page-header">
    <ul class="list-inline">
      <li>
        <h1>Account List</h1></li>
      <li>
        <button class="btn btn-success" ng-click="createAccount()">New Account</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Account Number
            </th>
            <th>
              Balance
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="account in accounts">
            <td>{{account.accountNumber}}</td>
            <td>{{account.balance}}</td>
            <td>
              <button class="btn btn-info btn-xs" ng-click="details(account.id)" title="Details"><i class="glyphicon glyphicon-plus-sign"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>