<div class="container">
  <div class="page-header">
    <h1>Add Branch Account</h1>
  </div>

  <form novalidate class="angular-form form-horizontal" role="create account" name="newAccountForm"
    ng-submit="addNewAccount(newAccountForm.$valid)">
    <div class="form-group row">
      <div class="col-md-6">
        <label for="inputAccountNumber" class="form-control-label col-md-2">Account Number</label>
        <div class="col-md-10">
          <input type="text" class="form-control" ng-model="account.account_number" name="accountNumber"
            placeholder="Account Number" id="inputAccountNumber" required>
        </div>
      </div>
      <div class="col-md-6 text-danger">
        <div ng-show="newAccountForm.$submitted && newAccountForm.accountNumber.$error.required">
          Account Number is required
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="inputBalance" class="form-control-label col-md-2">Balance</label>
        <div class="col-md-10">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min="0" class="form-control" ng-model="account.balance" name="balance"
              placeholder="0.00" id="inputBalance" required>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-danger">
        <div ng-show="newAccountForm.$submitted">
          <div ng-show="newAccountForm.balance.$error.required">
            Balance is required
          </div>
          <div ng-show="newAccountForm.balance.$error.number">
            Balance must be a number
          </div>
          <div ng-show="newAccountForm.balance.$error.min">
            Balance must be positive
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-primary">Add Account</button>
        </div>
      </div>
    </div>
  </form>
</div>