<div class="container">
  <div class="page-header">
    <h1>Add Branch Loan</h1>
  </div>

  <form novalidate class="angular-form form-horizontal" role="create loan" name="newLoanForm"
    ng-submit="addNewLoan(newLoanForm.$valid)">
    <div class="form-group row">
      <div class="col-md-6">
        <label for="inputLoanNumber" class="form-control-label col-md-2">Loan Number</label>
        <div class="col-md-10">
          <input type="text" class="form-control" ng-model="loan.loan_number" name="loanNumber"
            placeholder="Loan Number" id="inputLoanNumber" required>
        </div>
      </div>
      <div class="col-md-6 text-danger">
        <div ng-show="newLoanForm.$submitted && newLoanForm.loanNumber.$error.required">
          Loan Number is required
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="inputAmount" class="form-control-label col-md-2">Amount</label>
        <div class="col-md-10">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min="0" class="form-control" ng-model="loan.amount" name="amount"
              placeholder="0.00" id="inputAmount" required>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-danger">
        <div ng-show="newLoanForm.$submitted">
          <div ng-show="newLoanForm.amount.$error.required">
            Amount is required
          </div>
          <div ng-show="newLoanForm.amount.$error.number">
            Amount must be a number
          </div>
          <div ng-show="newLoanForm.amount.$error.min">
            Amount must be positive
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-primary">Add Loan</button>
        </div>
      </div>
    </div>
  </form>
</div>