<div class="container">
  <div class="page-header">
    <ul class="list-inline">
      <li>
        <h1>Branch Loan</h1></li>
      <li>
        <button class="btn btn-danger" ng-click="deleteLoan()">Delete</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading col-md-10 col-sm-10 col-xs-10">
              Loan Number
            </h4>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <button class="btn btn-primary btn-xs" title="Edit" ng-show="!isEditable('loanNumber')"
                ng-click="setEditable('loanNumber')">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
            </div>
          </div>
          <p class="list-group-item-text" ng-show="!isEditable('loanNumber')">{{loan.loanNumber}}</p>
          <form class="angular-form" name="loanNumberForm" ng-submit="saveEdit(loanNumberForm.$valid, 'loanNumber')"
            ng-show="isEditable('loanNumber')">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="New loan number" ng-model="loan.loanNumber"
                name="loanNumber" required>
              <span class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-danger" type="button" ng-click="cancelEdit('loanNumber')">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            </div>
            <div ng-show="loanNumberForm.$submitted && loanNumberForm.loanNumber.$error.required">
              Loan Number is required
            </div>
          </form>
        </li>

        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading col-md-10 col-sm-10 col-xs-10">
              Amount
            </h4>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <button class="btn btn-primary btn-xs" title="Edit" ng-show="!isEditable('amount')"
                ng-click="setEditable('amount')">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
            </div>
          </div>
          <p class="list-group-item-text" ng-show="!isEditable('amount')">{{loan.amount | currency}}</p>
          <form class="angular-form" name="amountForm" ng-submit="saveEdit(amountForm.$valid, 'amount')"
            ng-show="isEditable('amount')">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" placeholder="New amount" ng-model="loan.amount"
                name="amount" required>
              <span class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-danger" type="button" ng-click="cancelEdit('amount')">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            </div>
            <div ng-show="amountForm.$submitted" class="text-danger">
              <div ng-show="amountForm.amount.$error.required">
                Amount is required
              </div>
              <div ng-show="amountForm.amount.$error.number">
                Amount must be a number
              </div>
            </div>
          </form>
        </li>

        <li class="list-group-item">
          <h4 class="list-group-item-heading">
              Owners
            </h4>
          <table class="table table-striped list-group-item-text" ng-show="hasOwners()" ng-controller="OrderCtrl"
            ng-init="init('name')">
            <theader>
              <tr>
                <th ng-click="order('name')">
                  Name
                  <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                    ng-show="isOrdered('name')"></i>
                </th>
                <th ng-click="order('city')">
                  City
                  <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                    ng-show="isOrdered('city')"></i>
                </th>
                <th ng-click="order('street')">
                  Street
                  <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                    ng-show="isOrdered('street')"></i>
                </th>
              </tr>
            </theader>
            <tbody>
              <tr ng-repeat="owner in loan.owners | orderBy:predicate:reverse">
                <td>{{owner.name}}</td>
                <td>{{owner.city}}</td>
                <td>{{owner.street}}</td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>