<div class="container">
  <div class="page-header">
    <ul class="list-inline">
      <li>
        <h1>Branch List</h1>
      </li>
      <li>
        <button class="btn btn-success" ng-click="createBranch()">New Branch</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <table class="table table-striped" ng-controller="OrderCtrl" ng-init="init('name')">
        <thead>
          <tr>
            <th ng-click="order('name')">
              Name
              <span class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                ng-show="isOrdered('name')"></span>
            </th>
            <th ng-click="order('city')">
              City
              <span class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                ng-show="isOrdered('city')"></span>
            </th>
            <th ng-click="order('assets')">
              Assets
              <span class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                ng-show="isOrdered('assets')"></span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="branch in branches | orderBy:predicate:reverse">
            <td>{{branch.name}}</td>
            <td>{{branch.city}}</td>
            <td>{{branch.assets | currency}}</td>
            <td>
              <button class="btn btn-info btn-xs" ng-click="details(branch.id)" title="Details"><i class="glyphicon glyphicon-plus-sign"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>