<div class="container">
  <div class="page-header">
    <ul class="list-inline">
      <li>
        <h1>Branch Details</h1></li>
      <li>
        <button class="btn btn-danger" ng-click="deleteBranch()">Delete</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading col-xs-10">
              Name
            </h4>
            <button class="btn btn-primary btn-xs" title="Edit" ng-show="!isEditable('name')"
              ng-click="setEditable('name')">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
          </div>
          <p class="list-group-item-text" ng-show="!isEditable('name')">{{branch.name}}</p>
          <form class="angular-form" name="nameForm" ng-submit="saveEdit(nameForm.$valid, 'name')"
            ng-show="isEditable('name')">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="New name" ng-model="branch.name"
                name="name" required>
              <span class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-danger" type="button" ng-click="cancelEdit('name')">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            </div>
            <div ng-show="nameForm.$submitted && nameForm.name.$error.required">
              Name is required
            </div>
          </form>
        </li>

        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading col-xs-10">
              City
            </h4>
            <button class="btn btn-primary btn-xs" title="Edit" ng-show="!isEditable('city')"
              ng-click="setEditable('city')">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
          </div>
          <p class="list-group-item-text" ng-show="!isEditable('city')">{{branch.city}}</p>
          <form class="angular-form" name="cityForm" ng-submit="saveEdit(cityForm.$valid, 'city')"
            ng-show="isEditable('city')">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="New city" ng-model="branch.city"
                name="city" required>
              <span class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-danger" type="button" ng-click="cancelEdit('city')">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            </div>
            <div ng-show="cityForm.$submitted && cityForm.city.$error.required">
              City is required
            </div>
          </form>
        </li>

        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading col-xs-10">
              Assets
            </h4>
            <button class="btn btn-primary btn-xs" title="Edit" ng-show="!isEditable('assets')"
              ng-click="setEditable('assets')">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
          </div>
          <p class="list-group-item-text" ng-show="!isEditable('assets')">{{branch.assets | currency}}</p>
          <form class="angular-form" name="assetsForm" ng-submit="saveEdit(assetsForm.$valid, 'assets')"
            ng-show="isEditable('assets')">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" placeholder="New assets" ng-model="branch.assets"
                name="assets" required>
              <span class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-danger" type="button" ng-click="cancelEdit('assets')">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            </div>
            <div ng-show="assetsForm.$submitted" class="text-danger">
              <div ng-show="assetsForm.assets.$error.required">
                Assets is required
              </div>
              <div ng-show="assetsForm.assets.$error.number">
                Assets must be a number
              </div>
            </div>
          </form>
        </li>

        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading col-xs-10">
              Accounts
            </h4>
            <button class="btn btn-success btn-xs" title="Add Account" ng-click="">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
          <table class="table table-striped list-group-item-text" ng-show="hasAccounts()" ng-controller="OrderCtrl"
            ng-init="init('accountNumber')">
            <theader>
              <tr>
                <th ng-click="order('accountNumber')">
                  Account Number
                  <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                    ng-show="isOrdered('accountNumber')"></i>
                </th>
                <th ng-click="order('balance')">
                  Balance
                  <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                    ng-show="isOrdered('balance')"></i>
                </th>
                <th></th>
              </tr>
            </theader>
            <tbody>
              <tr ng-repeat="account in branch.accounts | orderBy:predicate:reverse">
                <td>{{account.accountNumber}}</td>
                <td>{{account.balance | currency}}</td>
                <td>
                  <button class="btn btn-xs btn-info" title="Details"><i class="glyphicon glyphicon-plus-sign"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </li>

        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading col-xs-10">
              Loans
            </h4>
            <button class="btn btn-success btn-xs" title="Add Loan" ng-click="">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
          <table class="table table-striped list-group-item-text" ng-show="hasLoans()" ng-controller="OrderCtrl"
            ng-init="init('loanNumber')">
            <theader>
              <tr>
                <th ng-click="order('loanNumber')">
                  Loan Number
                  <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                    ng-show="isOrdered('loanNumber')"></i>
                </th>
                <th ng-click="order('amount')">
                  Amount
                  <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                    ng-show="isOrdered('amount')"></i>
                </th>
                <th></th>
              </tr>
            </theader>
            <tbody>
              <tr ng-repeat="loan in branch.loans | orderBy:predicate:reverse">
                <td>{{loan.loanNumber}}</td>
                <td>{{loan.amount | currency}}</td>
                <td>
                  <button class="btn btn-xs btn-info" title="Details"><i class="glyphicon glyphicon-plus-sign"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>