<div class="container">
  <div class="page-header">
    <ul class="list-inline">
      <li>
        <h1>Customer Loan</h1></li>
      <li>
        <button class="btn btn-danger" ng-click="remove()">Remove</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
              Loan Number
            </h4>
          <p class="list-group-item-text">{{loan.loanNumber}}</p>
        </li>

        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading col-md-10 col-sm-10 col-xs-9">
              Amount
            </h4>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <button class="btn btn-success btn-xs" title="Deposit" ng-click="setEditable('deposit')">
                <i class="glyphicon glyphicon-plus-sign"></i>
              </button>
            </div>
          </div>
          <p class="list-group-item-text">{{loan.amount | currency}}</p>

          <ul class="list-group" ng-show="isEditable('deposit')">
            <li class="list-group-item">
              <h5 class="list-group-item-heading">
                <strong>Deposit</strong>
              </h5>
              <form class="angular-form" name="depositForm" ng-submit="saveEdit(depositForm.$valid, 'deposit')">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="number" class="form-control" placeholder="Amount" ng-model="editable.amount"
                    name="amount" min="0" required>
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">
                      <i class="glyphicon glyphicon-ok"></i>
                    </button>
                    <button class="btn btn-danger" type="button" ng-click="cancelEdit()">
                      <i class="glyphicon glyphicon-remove"></i>
                    </button>
                  </span>
                </div>
                <div ng-show="depositForm.$submitted" class="text-danger">
                  <div ng-show="depositForm.amount.$error.required">
                    Amount is required
                  </div>
                  <div ng-show="depositForm.amount.$error.number">
                    Amount must be a number
                  </div>
                  <div ng-show="depositForm.amount.$error.min">
                    Amount must be a positive
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </li>

        <li class="list-group-item">
          <h4 class="list-group-item-heading">
              Branch
            </h4>
          <div class="list-group-item-text">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="list-group-item-heading"><strong>Name</strong></h5>
                <p class="list-group-item-text">{{loan.branch.name}}</p>
              </li>
              <li class="list-group-item">
                <h5 class="list-group-item-heading"><strong>City</strong></h5>
                <p class="list-group-item-text">{{loan.branch.city}}</p>
              </li>
            </ul>
          </div>
        </li>

        <li class="list-group-item">
          <h4 class="list-group-item-heading">
              Owners
            </h4>
          <table class="table table-striped list-group-item-text" ng-show="hasOwners()" ng-controller="OrderCtrl"
            ng-init="init('name')">
            <theader>
              <tr>
                <th ng-click="order('name')">
                  Name
                  <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                    ng-show="isOrdered('name')"></i>
                </th>
                <th ng-click="order('city')">
                  City
                  <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                    ng-show="isOrdered('city')"></i>
                </th>
                <th ng-click="order('street')">
                  Street
                  <i class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                    ng-show="isOrdered('street')"></i>
                </th>
              </tr>
            </theader>
            <tbody>
              <tr ng-repeat="owner in loan.owners | orderBy:predicate:reverse">
                <td>{{owner.name}}</td>
                <td>{{owner.city}}</td>
                <td>{{owner.street}}</td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>