<div class="container">
  <div class="page-header">
    <ul class="list-inline">
      <li>
        <h1>Customer Details</h1></li>
      <li>
        <button class="btn btn-danger" ng-click="deleteCustomer()">Delete</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading col-xs-10">
              Customer Number
            </h4>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-xs" title="Edit" ng-show="!isEditable('customerNumber')"
                ng-click="setEditable('customerNumber')">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
            </div>
          </div>
          <p class="list-group-item-text" ng-show="!isEditable('customerNumber')">{{customer.customerNumber}}</p>
          <form class="angular-form" name="customerNumberForm" ng-submit="saveEdit(customerNumberForm.$valid, 'customerNumber')"
            ng-show="isEditable('customerNumber')">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="New Customer Number" ng-model="customer.customerNumber"
                name="customerNumber" required>
              <span class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-danger" type="button" ng-click="cancelEdit('customerNumber')">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            </div>
            <div ng-show="customerNumberForm.$submitted && customerNumberForm.customerNumber.$error.required">
              CustomerNumber is required
            </div>
          </form>
        </li>

        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading col-xs-10">
              Name
            </h4>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-xs" title="Edit" ng-show="!isEditable('name')"
                ng-click="setEditable('name')">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
            </div>
          </div>
          <p class="list-group-item-text" ng-show="!isEditable('name')">{{customer.name}}</p>
          <form class="angular-form" name="nameForm" ng-submit="saveEdit(nameForm.$valid, 'name')"
            ng-show="isEditable('name')">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="New name" ng-model="customer.name"
                name="name" required>
              <span class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-danger" type="button" ng-click="cancelEdit('name')">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            </div>
            <div ng-show="nameForm.$submitted && nameForm.name.$error.required">
              Name is required
            </div>
          </form>
        </li>

        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading  col-xs-10">
              City
            </h4>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-xs" title="Edit" ng-show="!isEditable('city')"
                ng-click="setEditable('city')">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
            </div>
          </div>
          <p class="list-group-item-text" ng-show="!isEditable('city')">{{customer.city}}</p>
          <form class="angular-form" name="cityForm" ng-submit="saveEdit(cityForm.$valid, 'city')"
            ng-show="isEditable('city')">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="New city" ng-model="customer.city"
                name="city" required>
              <span class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-danger" type="button" ng-click="cancelEdit('city')">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            </div>
            <div ng-show="cityForm.$submitted && cityForm.city.$error.required">
              City is required
            </div>
          </form>
        </li>

        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading  col-xs-10">
              Street
            </h4>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-xs" title="Edit" ng-show="!isEditable('street')"
                ng-click="setEditable('street')">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
            </div>
          </div>
          <p class="list-group-item-text" ng-show="!isEditable('street')">{{customer.street}}</p>
          <form class="angular-form" name="streetForm" ng-submit="saveEdit(streetForm.$valid, 'street')"
            ng-show="isEditable('street')">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="New street" ng-model="customer.street"
                name="street" required>
              <span class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-danger" type="button" ng-click="cancelEdit('street')">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            </div>
            <div ng-show="streetForm.$submitted && streetForm.street.$error.required">
              Street is required
            </div>
          </form>
        </li>

        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading col-xs-10">
              Accounts
            </h4>
            <div class="col-xs-2">
              <button class="btn btn-success btn-xs" title="Add Account" ng-click="addAccount()">
                <i class="glyphicon glyphicon-plus"></i>
              </button>
            </div>
          </div>
          <table class="table table-striped list-group-item-text" ng-show="hasAccounts()">
            <theader>
              <tr>
                <th>
                  Account Number
                </th>
                <th></th>
              </tr>
            </theader>
            <tbody>
              <tr ng-repeat="account in customer.accounts">
                <td>{{account.accountNumber}}</td>
                <td>
                  <button class="btn btn-xs btn-danger" title="Remove"><i class="glyphicon glyphicon-minus-sign" ng-click="accountRemove(account.id)"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="list-group-item">
          <div class="row">
            <h4 class="list-group-item-heading  col-xs-10">
              Loans
            </h4>
            <div class="col-xs-2">
              <button class="btn btn-success btn-xs" title="Add Loan" ng-click="addLoan()">
                <i class="glyphicon glyphicon-plus"></i>
              </button>
            </div>
          </div>
          <table class="table table-striped list-group-item-text" ng-show="hasLoans()">
            <theader>
              <tr>
                <th>
                  Loan Number
                </th>
                <th></th>
              </tr>
            </theader>
            <tbody>
              <tr ng-repeat="loan in customer.loans">
                <td>{{loan.loanNumber}}</td>
                <td>
                  <button class="btn btn-xs btn-danger" title="Remove"><i class="glyphicon glyphicon-minus-sign" ng-click="loanRemove(loan.id)"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>