<div class="container">
  <div class="page-header">
    <ul class="list-inline">
      <li>
        <h1>Loan List</h1>
      </li>
      <li>
        <button class="btn btn-success" ng-click="createLoan()">New Loan</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped" ng-controller="OrderCtrl" ng-init="init('loanNumber')">
        <thead>
          <tr>
            <th ng-click="order('loanNumber')">
              Loan Number
              <span class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                ng-show="isOrdered('loanNumber')"></span>
            </th>
            <th ng-click="order('amount')">
              Amount
              <span class="glyphicon" ng-class="{'glyphicon-triangle-bottom':reverse, 'glyphicon-triangle-top':!reverse}"
                ng-show="isOrdered('amount')"></span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="loan in loans | orderBy:predicate:reverse">
            <td>{{loan.loanNumber}}</td>
            <td>{{loan.amount | currency}}</td>
            <td>
              <button class="btn btn-info btn-xs" ng-click="details(loan.id)" title="Details"><i class="glyphicon glyphicon-plus-sign"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>